# Countries Draft4

In [13]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load Raw Data

In [14]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

# Display Parameters

## Display Features

In [15]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

## Colors

In [16]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

## Figure Parameters

In [17]:
size = 20

params = {
    "font.family": "Times New Roman",
    "font.size": size,
    "axes.labelsize": size,
    "xtick.labelsize": size * 0.75,
    "ytick.labelsize": size * 0.75,
    "figure.titlesize": size * 1.5,
    "axes.titlesize": size * 1.5,
    "axes.titlepad": size,
    "axes.labelpad": size - 10,
    "lines.linewidth": 2,
    "axes.spines.top": False,
    "axes.spines.right": False,
    "axes.spines.left": False,
    "axes.spines.bottom": False,
    "legend.fontsize": size,
}

# Answers

In [18]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)

# Participant Countries

In [19]:
df_Answer3 = pd.read_sql_query(
    "SELECT AnswerText FROM Answer where QuestionID = 3",
    db_survey
)
df_Answer3.head()

       AnswerText
0   United States
1   United States
2          Canada
3  United Kingdom
4   United States

In [20]:
df_Answer3["AnswerText"] = df_Answer3["AnswerText"].replace(
    {
        "-1": "Other",
        "Bahamas, The": "Bahamas",
        "United States of America": 'United States'
    }
)

In [21]:
Answer3_count = df_Answer3['AnswerText'].value_counts()

In [22]:
df_Answer3_count = pd.DataFrame(Answer3_count)
df_Answer3_count

                        AnswerText
United States                 2604
United Kingdom                 482
Canada                         199
Germany                        136
Netherlands                     98
Australia                       73
France                          51
Ireland                         51
India                           50
Brazil                          37
Sweden                          29
Switzerland                     28
Spain                           26
New Zealand                     24
Portugal                        23
Poland                          21
Italy                           19
Belgium                         17
South Africa                    16
Russia                          16
Finland                         13
Bulgaria                        13
Mexico                          12
Norway                          12
Austria                         10
Romania                          9
Israel                           9
Japan                            9
Denmark                          9
Pakistan                         7
Greece                           7
Colombia                         6
Czech Republic                   6
Turkey                           5
Estonia                          5
Singapore                        5
Other                            4
Argentina                        4
Serbia                           4
Croatia                          4
Hungary                          4
Bangladesh                       3
Indonesia                        3
Chile                            3
Ukraine                          3
Afghanistan                      3
Bosnia and Herzegovina           3
China                            2
Algeria                          2
Iceland                          2
Georgia                          2
Hong Kong                        2
Lithuania                        2
Costa Rica                       2
Slovakia                         2
Uruguay                          2
Nigeria                          2
Latvia                           2
Belarus                          1
Macedonia                        1
Jordan                           1
Kenya                            1
Ethiopia                         1
Mauritius                        1
Saudi Arabia                     1
Thailand                         1
Taiwan                           1
Guatemala                        1
Ecuador                          1
Iran                             1
Brunei                           1
Vietnam                          1
Venezuela                        1
Philippines                      1
Moldova                          1
Bahamas                          1
Zimbabwe                         1
Slovenia                         1
Ghana                            1

In [23]:
Total = df_Answer3_count['AnswerText'].sum()

In [24]:
Total

4218

In [33]:
df_Answer3_count.count()

AnswerText    79
dtype: int64