# Openness

In [274]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [275]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [276]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [277]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [278]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [279]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [280]:
df_Answer9.count()

UserID    2888
dtype: int64

In [281]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [282]:
df_Answer13.count()

UserID    1471
dtype: int64

In [283]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [354]:
df_TechinTech

     UserID
0      2694
1      2695
2      2696
3      2697
4      2700
5      2701
6      2705
7      2706
8      2707
9      2712
10     2714
11     2717
12     2718
13     2719
14     2724
15     2725
16     2726
17     2730
18     2733
19     2736
20     2737
21     2738
22     2744
23     2745
24     2747
25     2748
26     2751
27     2752
28     2754
29     2757
30     2759
31     2760
32     2761
33     2762
34     2763
35     2769
36     2772
37     2773
38     2774
39     2775
40     2776
41     2777
42     2778
43     2779
44     2781
45     2783
46     2784
47     2785
48     2786
49     2790
50     2794
51     2795
52     2796
53     2800
54     2802
55     2804
56     2807
57     2808
58     2809
59     2810
60     2812
61     2813
62     2814
63     2815
64     2818
65     2819
66     2820
67     2821
68     2824
69     2825
70     2826
71     2827
72     2830
73     2832
74     2833
75     2835
76     2836
77     2838
78     2841
79     2842
80     2844
81     2845
82     2846
83     2847
84     2848
85     2849
86     2850
87     2853
88     2856
89     2859
90     2860
91     2861
92     2864
93     2866
94     2867
95     2870
96     2872
97     2873
98     2874
99     2875
100    2877
101    2878
102    2884
103    2885
104    2887
105    2888
106    2889
107    2890
108    2891
109    2892
110    2893
111    2894
112    2896
113    2897
114    2899
115    2903
116    2904
117    2906
118    2907
119    2908
120    2909
121    2910
122    2911
123    2912
124    2914
125    2915
126    2916
127    2917
128    2920
129    2921
130    2922
131    2924
132    2925
133    2926
134    2927
135    2931
136    2932
137    2933
138    2934
139    2936
140    2941
141    2942
142    2943
143    2947
144    2948
145    2951
146    2958
147    2960
148    2961
149    2962
150    2964
151    2965
152    2966
153    2967
154    2968
155    2969
156    2970
157    2971
158    2972
159    2973
160    2976
161    2978
162    2979
163    2980
164    2986
165    2987
166    2989
167    2991
168    2994
169    2995
170    2997
171    2998
172    2999
173    3001
174    3003
175    3004
176    3006
177    3007
178    3008
179    3009
180    3010
181    3012
182    3013
183    3014
184    3015
185    3019
186    3021
187    3023
188    3024
189    3025
190    3026
191    3027
192    3029
193    3030
194    3032
195    3038
196    3040
197    3041
198    3043
199    3044
200    3045
201    3046
202    3047
203    3048
204    3049
205    3050
206    3051
207    3052
208    3053
209    3056
210    3057
211    3061
212    3062
213    3063
214    3065
215    3068
216    3070
217    3071
218    3072
219    3073
220    3075
221    3076
222    3077
223    3078
224    3079
225    3080
226    3084
227    3085
228    3087
229    3088
230    3089
231    3091
232    3093
233    3094
234    3095
235    3096
236    3097
237    3098
238    3100
239    3103
240    3104
241    3106
242    3107
243    3109
244    3111
245    3112
246    3113
247    3114
248    3117
249    3118
250    3122
251    3123
252    3124
253    3125
254    3127
255    3129
256    3130
257    3132
258    3133
259    3134
260    3135
261    3136
262    3137
263    3138
264    3139
265    3140
266    3143
267    3145
268    3146
269    3148
270    3150
271    3153
272    3155
273    3156
274    3157
275    3158
276    3163
277    3164
278    3166
279    3167
280    3168
281    3169
282    3170
283    3171
284    3172
285    3173
286    3174
287    3175
288    3176
289    3177
290    3179
291    3180
292    3181
293    3182
294    3184
295    3185
296    3188
297    3190
298    3191
299    3192
300    3193
301    3194
302    3195
303    3196
304    3198
305    3199
306    3200
307    3201
308    3204
309    3207
310    3209
311    3212
312    3215
313    3216
314    3217
315    3218
316    3220
317    3223
318    3224
319    3225
320    3226
321    3228
322    3231
323    3235
324    3236
325    3237
326    3238
327    3239
328    3240
329    3241
330    3242
331    3243
332    3244
333    3246
334    3247
335    3248
336    3249
337    3250
338    3251
339    3252
340    3253
341    3254
342    3258
343    3259
344    3260
345    3261
346    3263
347    3264
348    3265
349    3266
350    3269
351    3271
352    3274
353    3276
354    3280
355    3282
356    3284
357    3288
358    3289
359    3291
360    3292
361    3295
362    3296
363    3297
364    3300
365    3301
366    3303
367    3305
368    3307
369    3309
370    3311
371    3314
372    3318
373    3319
374    3320
375    3321
376    3322
377    3324
378    3327
379    3329
380    3330
381    3331
382    3334
383    3335
384    3336
385    3337
386    3341
387    3343
388    3344
389    3347
390    3348
391    3349
392    3350
393    3351
394    3352
395    3353
396    3354
397    3355
398    3356
399    3358
400    3359
401    3360
402    3361
403    3362
404    3363
405    3364
406    3366
407    3368
408    3369
409    3370
410    3371
411    3372
412    3375
413    3376
414    3378
415    3379
416    3380
417    3382
418    3385
419    3391
420    3392
421    3394
422    3396
423    3397
424    3399
425    3401
426    3402
427    3403
428    3404
429    3406
430    3407
431    3410
432    3411
433    3412
434    3414
435    3415
436    3416
437    3417
438    3420
439    3422
440    3423
441    3425
442    3426
443    3427
444    3428
445    3429
446    3430
447    3431
448    3432
449    3433
450    3434
451    3436
452    3438
453    3440
454    3441
455    3442
456    3443
457    3445
458    3446
459    3448
460    3451
461    3453
462    3454
463    3455
464    3456
465    3457
466    3458
467    3460
468    3464
469    3467
470    3470
471    3471
472    3473
473    3475
474    3476
475    3477
476    3479
477    3480
478    3481
479    3482
480    3484
481    3485
482    3490
483    3495
484    3498
485    3499
486    3500
487    3502
488    3503
489    3504
490    3505
491    3507
492    3508
493    3509
494    3513
495    3514
496    3515
497    3516
498    3517
499    3518
500    3521
501    3523
502    3524
503    3525
504    3526
505    3528
506    3529
507    3531
508    3532
509    3534
510    3535
511    3540
512    3541
513    3543
514    3546
515    3550
516    3551
517    3553
518    3554
519    3555
520    3556
521    3557
522    3560
523    3562
524    3563
525    3565
526    3566
527    3567
528    3569
529    3570
530    3573
531    3574
532    3576
533    3577
534    3578
535    3579
536    3581
537    3582
538    3585
539    3586
540    3587
541    3588
542    3593
543    3597
544    3598
545    3602
546    3604
547    3606
548    3611
549    3612
550    3613
551    3614
552    3615
553    3616
554    3618
555    3619
556    3621
557    3623
558    3624
559    3625
560    3626
561    3627
562    3631
563    3632
564    3633
565    3634
566    3636
567    3637
568    3638
569    3640
570    3641
571    3642
572    3643
573    3644
574    3645
575    3646
576    3648
577    3649
578    3650
579    3651
580    3652
581    3653
582    3655
583    3656
584    3657
585    3658
586    3659
587    3660
588    3662
589    3663
590    3666
591    3667
592    3668
593    3669
594    3670
595    3673
596    3674
597    3675
598    3679
599    3681
600    3682
601    3683
602    3685
603    3686
604    3687
605    3688
606    3689
607    3690
608    3693
609    3694
610    3696
611    3697
612    3698
613    3700
614    3701
615    3702
616    3703
617    3706
618    3708
619    3709
620    3710
621    3713
622    3714
623    3715
624    3716
625    3718
626    3723
627    3724
628    3728
629    3729
630    3730
631    3732
632    3733
633    3734
634    3735
635    3736
636    3737
637    3738
638    3739
639    3742
640    3743
641    3744
642    3746
643    3748
644    3749
645    3750
646    3751
647    3754
648    3758
649    3760
650    3762
651    3764
652    3765
653    3766
654    3768
655    3769
656    3772
657    3773
658    3775
659    3777
660    3778
661    3779
662    3781
663    3783
664    3784
665    3786
666    3787
667    3788
668    3789
669    3790
670    3792
671    3794
672    3795
673    3796
674    3797
675    3798
676    3799
677    3802
678    3804
679    3805
680    3806
681    3808
682    3810
683    3811
684    3812
685    3813
686    3814
687    3815
688    3818
689    3819
690    3823
691    3826
692    3828
693    3830
694    3832
695    3835
696    3836
697    3837
698    3839
699    3840
700    3841
701    3844
702    3845
703    3846
704    3848
705    3849
706    3852
707    3853
708    3854
709    3855
710    3858
711    3860
712    3861
713    3862
714    3865
715    3867
716    3868
717    3869
718    3870
719    3871
720    3873
721    3875
722    3876
723    3877
724    3879
725    3880
726    3881
727    3883
728    3885
729    3886
730    3887
731    3889
732    3890
733    3891
734    3892
735    3894
736    3895
737    3896
738    3897
739    3903
740    3904
741    3908
742    3909
743    3911
744    3920
745    3922
746    3923
747    3929
748    3930
749    3931
750    3932
751    3934
752    3935
753    3936
754    3937
755    3938
756    3939
757    3940
758    3941
759    3942
760    3943
761    3944
762    3945
763    3946
764    3949
765    3950
766    3951
767    3952
768    3953
769    3954
770    3955
771    3957
772    3959
773    3960
774    3961
775    3962
776    3964
777    3965
778    3966
779    3967
780    3968
781    3969
782    3970
783    3972
784    3974
785    3976
786    3977
787    3978
788    3979
789    3982
790    3983
791    3985
792    3988
793    3992
794    3996
795    3998
796    3999
797    4002
798    4003
799    4005
800    4006
801    4009
802    4014
803    4015
804    4017
805    4018
806    4019
807    4021
808    4022
809    4026
810    4030
811    4031
812    4033
813    4034
814    4035
815    4036
816    4038
817    4039
818    4041
819    4042
820    4045
821    4048
822    4050
823    4051
824    4052
825    4053
826    4054
827    4059
828    4062
829    4065
830    4066
831    4068
832    4069
833    4075
834    4076
835    4078
836    4081
837    4083
838    4084
839    4086
840    4087
841    4091
842    4092
843    4094
844    4095
845    4096
846    4100
847    4102
848    4103
849    4104
850    4105
851    4107
852    4109
853    4113
854    4115
855    4116
856    4117
857    4119
858    4123
859    4125
860    4126
861    4128
862    4129
863    4139
864    4143
865    4146
866    4148
867    4149
868    4150
869    4151
870    4154
871    4155
872    4156
873    4157
874    4162
875    4163
876    4164
877    4166
878    4167
879    4168
880    4169
881    4171
882    4173
883    4174
884    4177
885    4179
886    4180
887    4182
888    4184
889    4188
890    4189
891    4190
892    4191
893    4192
894    4193
895    4194
896    4195
897    4198
898    4199
899    4200
900    4202
901    4203
902    4205
903    4209
904    4211
905    4212
906    4213
907    4217
908    4218

In [284]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# 12
Would you bring up a mental health issue with a potential employer in an interview?

In [285]:
df_Answer12 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 12",
    db_survey
)
df_Answer12.head()

  AnswerText  SurveyID  UserID  QuestionID
0         No      2014       1          12
1         No      2014       2          12
2        Yes      2014       3          12
3      Maybe      2014       4          12
4        Yes      2014       5          12

In [286]:
df_Answer12.count()

AnswerText    4218
SurveyID      4218
UserID        4218
QuestionID    4218
dtype: int64

In [287]:
df_Answer12_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 12",
    db_survey
)
df_Answer12_Distinct

  AnswerText
0         No
1        Yes
2      Maybe

In [288]:
df_Answer12_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 12 AND AnswerText = 'Yes'",
    db_survey
)
df_Answer12_Yes.count()

UserID    231
dtype: int64

In [289]:
df_Answer12TechinTech = pd.merge(df_TechinTech, df_Answer12_Yes, on='UserID', how='inner')

In [290]:
df_Answer12TechinTech.count()

UserID    51
dtype: int64

# 18
Would you feel comfortable discussing a mental health issue with a coworker?

In [291]:
df_Answer18 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 18",
    db_survey
)

In [292]:
df_Answer18.count()

AnswerText    2958
SurveyID      2958
UserID        2958
QuestionID    2958
dtype: int64

In [293]:
df_Answer18.head()

  AnswerText  SurveyID  UserID  QuestionID
0      Maybe      2016    1261          18
1      Maybe      2016    1262          18
2      Maybe      2016    1263          18
3         -1      2016    1264          18
4      Maybe      2016    1265          18

In [294]:
df_Answer18_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 18",
    db_survey
)
df_Answer18_Distinct

  AnswerText
0      Maybe
1         -1
2        Yes
3         No

In [295]:
df_Answer18_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 18 AND AnswerText = 'Yes'",
    db_survey
)
df_Answer18_Yes.count()

UserID    682
dtype: int64

In [296]:
df_Answer18TechinTech = pd.merge(df_TechinTech, df_Answer18_Yes, on='UserID', how='inner')

In [297]:
df_Answer18TechinTech.count()

UserID    312
dtype: int64

# 99
Would you be willing to discuss a mental health issue with your coworkers?

In [298]:
df_Answer99 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 99",
    db_survey
)

In [299]:
df_Answer99.count()

AnswerText    1260
SurveyID      1260
UserID        1260
QuestionID    1260
dtype: int64

In [300]:
df_Answer99_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 99",
    db_survey
)
df_Answer99_Distinct

     AnswerText
0  Some of them
1            No
2           Yes

In [301]:
df_Answer99_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 99 AND AnswerText = 'Yes'",
    db_survey
)
df_Answer99_Yes.count()

UserID    225
dtype: int64

In [302]:
df_Answer99TechinTech = pd.merge(df_TechinTech, df_Answer99_Yes, on='UserID', how='inner')

In [303]:
df_Answer99TechinTech.count()

UserID    0
dtype: int64

# 114
Do you think that team members/co-workers would view you more negatively if they knew you suffered from a mental health issue? <BR>
(No answer gives results)

In [304]:
df_Answer114 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 114",
    db_survey
)

In [305]:
df_Answer114.count()

AnswerText    1433
SurveyID      1433
UserID        1433
QuestionID    1433
dtype: int64

In [306]:
df_Answer114.head()

                     AnswerText  SurveyID  UserID  QuestionID
0  No, I don't think they would      2016    1261         114
1  No, I don't think they would      2016    1262         114
2                         Maybe      2016    1263         114
3                         Maybe      2016    1264         114
4                         Maybe      2016    1265         114

In [307]:
df_Answer114_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 114",
    db_survey
)
df_Answer114_Distinct

                     AnswerText
0  No, I don't think they would
1                         Maybe
2                  Yes, they do
3       Yes, I think they would
4               No, they do not

In [308]:
df_Answer114_No = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 114 AND AnswerText = 'Yes, I think they would'",
    db_survey
)
df_Answer114_No.count()

UserID    403
dtype: int64

In [309]:
df_Answer114TechinTech = pd.merge(df_TechinTech, df_Answer114_No, on='UserID', how='inner')

In [310]:
df_Answer114TechinTech.count()

UserID    0
dtype: int64

# 19
Would you feel comfortable discussing a mental health issue with a direct supervisor?

In [311]:
df_Answer19 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 19",
    db_survey
)

In [312]:
df_Answer19.count()

AnswerText    2958
SurveyID      2958
UserID        2958
QuestionID    2958
dtype: int64

In [313]:
df_Answer19.head()

  AnswerText  SurveyID  UserID  QuestionID
0        Yes      2016    1261          19
1        Yes      2016    1262          19
2      Maybe      2016    1263          19
3         -1      2016    1264          19
4         No      2016    1265          19

In [314]:
df_Answer19_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 19",
    db_survey
)
df_Answer19_Distinct

  AnswerText
0        Yes
1      Maybe
2         -1
3         No

In [315]:
df_Answer19_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 19 AND AnswerText = 'Yes'",
    db_survey
)
df_Answer19_Yes.count()

UserID    932
dtype: int64

In [316]:
df_Answer19TechinTech = pd.merge(df_TechinTech, df_Answer19_Yes, on='UserID', how='inner')

In [317]:
df_Answer19TechinTech.count()

UserID    372
dtype: int64

# 28
Would you be willing to discuss your mental health with your direct supervisor(s)?

In [382]:
df_Answer28 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 28",
    db_survey
)

In [383]:
df_Answer28.count()

AnswerText    2958
SurveyID      2958
UserID        2958
QuestionID    2958
dtype: int64

In [384]:
df_Answer28_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 28",
    db_survey
)
df_Answer28_Distinct

                             AnswerText
0         Some of my previous employers
1                          I don't know
2  No, at none of my previous employers
3  Yes, at all of my previous employers
4                                    -1
5   Yes, all of my previous supervisors
6   No, none of my previous supervisors
7       Some of my previous supervisors

In [388]:
df_Answer28 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 104 AND AnswerText = 'No, none of my previous supervisors'",
    db_survey
)
df_Answer28.count()

UserID    0
dtype: int64

In [389]:
df_Answer28_TechinTech = pd.merge(df_TechinTech, df_Answer28, on='UserID', how='inner')

In [390]:
df_Answer28_TechinTech.count()

UserID    0
dtype: int64

# 100
Would you be willing to discuss a mental health issue with your direct supervisor(s)?
(No TechinTech answered this question)

In [320]:
df_Answer100 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 100",
    db_survey
)

In [321]:
df_Answer100.count()

AnswerText    1260
SurveyID      1260
UserID        1260
QuestionID    1260
dtype: int64

In [371]:
df_Answer100_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 100",
    db_survey
)
df_Answer100_Distinct

     AnswerText
0           Yes
1            No
2  Some of them

In [378]:
df_Answer100_No = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 100 AND AnswerText = 'Some of them'",
    db_survey
)
df_Answer100_No.count()

UserID    350
dtype: int64

In [379]:
df_Answer100_TechinTech = pd.merge(df_TechinTech, df_Answer100_No, on='UserID', how='inner')

In [380]:
df_Answer100_TechinTech.count()

UserID    0
dtype: int64

# 104
Do you think that discussing a mental health disorder with your employer would have negative consequences?
(No TechinTech answered this question)

In [322]:
df_Answer104 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 104",
    db_survey
)

In [323]:
df_Answer104.count()

AnswerText    1433
SurveyID      1433
UserID        1433
QuestionID    1433
dtype: int64

In [356]:
df_Answer104_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 104",
    db_survey
)
df_Answer104_Distinct

  AnswerText
0         No
1      Maybe
2         -1
3        Yes

In [368]:
df_Answer104_No = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 104 AND AnswerText = 'Maybe'",
    db_survey
)
df_Answer104_No.count()

UserID    487
dtype: int64

In [369]:
df_Answer104_TechinTech = pd.merge(df_TechinTech, df_Answer104_No, on='UserID', how='inner')

In [370]:
df_Answer104_TechinTech.count()

UserID    0
dtype: int64

# 30
How willing would you be to share with friends and family that you have a mental illness?

In [324]:
df_Answer30 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 30",
    db_survey
)
df_Answer30.head()

      AnswerText  SurveyID  UserID  QuestionID
0  Somewhat open      2016    1261          30
1  Somewhat open      2016    1262          30
2  Somewhat open      2016    1263          30
3        Neutral      2016    1264          30
4  Somewhat open      2016    1265          30

In [325]:
df_Answer30.count()

AnswerText    2958
SurveyID      2958
UserID        2958
QuestionID    2958
dtype: int64

In [326]:
df_Answer30_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 30",
    db_survey
)
df_Answer30_Distinct

                                              AnswerText
0                                          Somewhat open
1                                                Neutral
2  Not applicable to me (I do not have a mental illness)
3                                              Very open
4                                        Not open at all
5                                      Somewhat not open

## Very Open

In [327]:
df_Answer30_Very = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 30 AND AnswerText = 'Very open'",
    db_survey
)
df_Answer30_Very.count()

UserID    1104
dtype: int64

In [328]:
df_Answer30_Very_TechinTech = pd.merge(df_TechinTech, df_Answer30_Very, on='UserID', how='inner')

In [329]:
df_Answer30_Very_TechinTech.count()

UserID    523
dtype: int64

## Somewhat open

In [330]:
df_Answer30_Somewhat = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 30 AND AnswerText = 'Somewhat open'",
    db_survey
)
df_Answer30_Somewhat.count()

UserID    791
dtype: int64

In [331]:
df_Answer30_Somewhat_TechinTech = pd.merge(df_TechinTech, df_Answer30_Somewhat, on='UserID', how='inner')

In [332]:
df_Answer30_Somewhat_TechinTech.count()

UserID    94
dtype: int64

## Neutral

In [333]:
df_Answer30_Neutral = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 30 AND AnswerText = 'Neutral'",
    db_survey
)
df_Answer30_Neutral.count()

UserID    329
dtype: int64

In [334]:
df_Answer30_Neutral_TechinTech = pd.merge(df_TechinTech, df_Answer30_Neutral, on='UserID', how='inner')

In [335]:
df_Answer30_Neutral_TechinTech.count()

UserID    114
dtype: int64

# 106
If you have revealed a mental health issue to a client or business contact, do you believe it has impacted you negatively?
(No TechinTech answered this question)

In [336]:
df_Answer106 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 106",
    db_survey
)

In [337]:
df_Answer106.count()

AnswerText    1433
SurveyID      1433
UserID        1433
QuestionID    1433
dtype: int64

In [338]:
df_Answer106.head()

     AnswerText  SurveyID  UserID  QuestionID
0            -1      2016    1261         106
1            -1      2016    1262         106
2            -1      2016    1263         106
3  I'm not sure      2016    1264         106
4            -1      2016    1265         106

In [339]:
df_Answer106_Distinct = pd.read_sql_query(
    "SELECT DISTINCT AnswerText FROM Answer where QuestionID = 106",
    db_survey
)
df_Answer106_Distinct

     AnswerText
0            -1
1  I'm not sure
2           Yes
3            No

## Yes

In [340]:
df_Answer106_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 106 AND AnswerText = 'Yes'",
    db_survey
)
df_Answer106_Yes.count()

UserID    36
dtype: int64

In [341]:
df_Answer106_Yes_TechinTech = pd.merge(df_TechinTech, df_Answer106_Yes, on='UserID', how='inner')

In [342]:
df_Answer106_Yes_TechinTech.count()

UserID    0
dtype: int64

## No Response

In [355]:
df_Answer106_NR = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 106 AND AnswerText = '-1'",
    db_survey
)

In [344]:
df_Answer106_NR_TechinTech = pd.merge(df_TechinTech, df_Answer106_NR, on='UserID', how='inner')

In [345]:
df_Answer106_NR_TechinTech.count()

UserID    0
dtype: int64

## No

In [346]:
df_Answer106_No = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 106 AND AnswerText = 'No'",
    db_survey
)
df_Answer106_No.count()

UserID    42
dtype: int64

In [347]:
df_Answer106_No_TechinTech = pd.merge(df_TechinTech, df_Answer106_No, on='UserID', how='inner')

In [348]:
df_Answer106_No_TechinTech.count()

UserID    0
dtype: int64

## I'm not sure

In [350]:
df_Answer106_NotSure = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 106 AND AnswerText = 'I''m not sure'",
    db_survey
)
df_Answer106_NotSure.count()

UserID    66
dtype: int64

In [351]:
df_Answer106_NR_TechinTech = pd.merge(df_TechinTech, df_Answer106_NR, on='UserID', how='inner')

In [352]:
df_Answer106_NR_TechinTech.count()

UserID    0
dtype: int64